header.blockquote {
    padding: 50px 0 50px;
  }
  
  header {
    margin-bottom: 50px;
    position: relative;
    background-size: cover;
  }
  
  header.page-heading,
  header.post-heading,
  header.site-heading {
    padding: 200px 0 150px;
  }
  
  header.page-heading h1,
  header.site-heading h1 {
    font-size: 60px;
    font-family: Arial;
  }
  