.outline {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.thumbnail {
    height: 10rem;
    width: 10rem
}

.imgPreview {
    height: 113px;
    width: 200px;
}

.preview {
    height: 100%;
    width: 100%

}